<section id="footer-bar">
  <div class="row">
    <div class="col-4">
      <h4>Hỗ trợ khách hàng</h4>
      <ul class="list-unstyled">
        <li>Email: admin@gmail.vn</li>
        <li>Hotline: 098 765 4321</li>
      </ul>
    </div>
    <div class="col-4">
      <h4>Giới Thiệu</h4>
      <ul class="list-unstyled">
        <li>Về chúng tôi</li>
        <li>Tuyển dụng</li>
      </ul>
    </div>
    <div class="col-4">
      <h4>Hướng Dẫn</h4>
      <ul class="list-unstyled">
        <li>Hướng dẫn mua hàng</li>
        <li>Phương thức thanh toán</li>
        <li>Câu hỏi thường gặp</li>
        <li>Phương thức vận chuyển</li>
      </ul>
    </div>
  </div>
</section>
<section id="copyright">
  <span>Copyright ... All right reserved.</span>
</section>
