.show_product_buyer{
  .path_product {
    a {
      color: #eb4800;
    }
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .author {
    font-size: 15px;
  }

  .price {
    font-size: 30px;
    font-weight: bold;
    color: #eb4800;
  }
}
