<div class="page-wrapper chiller-theme toggled">
  <%= render "sellers/sidebar" %>
  <main class="page-content">
    <div class="container-fluid">
      <h2>Pro Sidebar</h2>
    </div>
  </main>
</div>
